/* Estilos da página index.html */

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.menu li {
    display: inline;
    padding: 30px;
}

.menu li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.menu li a:hover {
    color: gray;
}

.p-30 {
    padding: 30px;
}

.br-50 {
    border-radius: 50%;
}

.wh-300 {
    width: 300px;
    height: 300px;
}

.icon-social-network {
    width: 30px;
    height: 30px;
}
/* Estilos da página contato.html */

.ml-50 {
    margin-left: 50px;
}

footer {
    margin-bottom: 0px;
}

#btt-send {
    margin-top: 10px;
}

/* Estilos da página page-css.html */

.p-page-css {
    color:#008000;
    text-align: center;
    font-size: 34px;
}

#p-second {
    color: crimson;
    font-weight: bold;
}

.font-bold {
    font-weight: bold;  
}

.flex-container {
    display: flex;
    justify-content: center;
}

.img-page-css {
    width: 200px;
}